body{
    margin: 0;

    font-family: Arial, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: darkblue;

    background: url("img/bg.png");
}
.page{
    width: 800px;
    margin: 20px auto;
    background-color: #ffffff;
}

/*Header*/
.header{
    padding: 20px;
    background-color: #121212;
}
.header-title{
    margin: 0;

    font-size: 24px;
    color: #ffffff;
    text-align: center;
}
.header-subtitle{
    margin: 0;

    font-size: 16px;
    color: #2039a3;
    text-align: center;
    font-weight: normal;
}

/*Navigation*/

.navig{
    text-align: center;
}

.nav-link{
    display: inline-block;
    padding: 8px 12px;

    color: #121212;
    text-decoration: none;
}
.nav-link:hover{
    background-color: coral;
}

/*Content*/

.content{
    padding: 20px;
}
.content-title{
    margin: 0;
    font-size: 24px;
    color: red;
}
.content-text{
    margin-bottom: 20px;
}
.read-more{
     color: black;
    text-decoration: none;
}
.read-more:hover{
    text-decoration: underline;
}