body{
    margin: 0;

    font-family: Arial, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: darkblue;

    background: url("img/bg.png") #070505;
}
.page{
    width: 800px;
    margin: 20px auto;
    background-color: #ffffff;
}

/*Header*/
.header{
    padding: 20px;
    background-color: #121212;
}
.header-title{
    margin: 0;

    font-size: 24px;
    color: #ffffff;
    text-align: center;
}
.header-subtitle{
    margin: 0;

    font-size: 16px;
    color: #2039a3;
    text-align: center;
    font-weight: normal;
}

/*Navigation*/

.navig{
    text-align: center;
}

.nav-link{
    display: inline-block;
    padding: 8px 12px;

    color: #121212;
    text-decoration: none;
}
.nav-link:hover{
    background-color: coral;
}

/*Content*/

.content{
    padding: 20px;
}
.content-title{
    margin: 0 0 15px;

    font-size: 24px;
    color: red;
}
.content-text{
    margin-bottom: 20px;
}
.read-more{
     color: black;
    text-decoration: none;
}
.read-more:hover{
    text-decoration: underline;
}

/*Article*/

.article-title{
    margin: 0 0 5px;

    font-size: 18px;
    color: darkblue;
}
.article-title a{
    color: inherit;
    text-decoration: none;
}
.article-title:hover{
    text-decoration: underline;
}
.article-date{
    font-size: 12px;
    color: #cccccc;
}
.article{
    margin-bottom: 20px;
    padding-bottom: 20px;

    border-bottom: 1px solid #cccccc;
}

/* Footer */

.footer{
    padding: 20px;

    background-color: #121212;

    color: #ffffff;
    text-align: center;
}
/* Form */
.form-title{
    text-align: center;
}
.form {
    width: 500px;
    padding: 20px;
    margin: auto;

    background-color: #fff;
}
.form-group {
    margin-bottom: 15px;
}
.form-input {
    display: block;
    padding: 5px;

    border: 1px solid #000;

    font-family: Arial, sans-serif;
    font-size: 15px;
}
.form-textarea {
    width: 200px;
    height: 150px;
    padding: 5px;

    border: 1px solid #000;

    font-family: Arial, sans-serif;
    font-size: 15px;
}